In [186]:
import pandas as pd

In [187]:
xls = pd.ExcelFile('C:\\Users\\User\\Downloads\\LTD_attention_to_details.xlsx')

In [188]:
df1 = pd.read_excel(xls, 'Справочник точек')
df1.head(10)

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
0,8955.0,"Оренбургская обл, Оренбург г, Шарлыкское ш, д...",55.118272,51.843127,2016-11-09 00:00:00,NaT,478,без сквозного прохода,130000.0,ТЦ,...,3,с 10:00 до 22:00,NaN,0,0,1.0,7.0,37.857582,69.500000,Обучающая
1,11007.0,"Алтайский край, г. Барнаул, ул. Малахова, дом ...",83.696799,53.356954,2010-04-26 00:00:00,NaT,332,сквозной проход,31500.0,ТЦ,...,1,с 10:00 до 22:00,NaN,0,1,NaN,9.0,57.810494,66.896552,Обучающая
2,11366.0,"Амурская область, Благовещенск, улица Мухина, 114",127.510357,50.280435,2017-08-25 00:00:00,NaT,356,без сквозного прохода,36000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,0,1,1.0,6.0,49.959831,68.727273,Обучающая
3,11810.0,"Архангельская обл, г. Архангельск , Троицкий п...",40.528249,64.532316,2012-11-03 00:00:00,NaT,317,отдельный вход с улицы + сквозной проход,35000.0,ТЦ,...,1,с 10:00 до 21:00,3.0,0,1,0.0,10.0,128.459158,64.517241,Обучающая
4,15041.0,"Архангельская обл, г. Архангельск, Троицкий пр...",40.526317,64.534327,2006-12-09 00:00:00,NaT,176,сквозной проход,15332.0,ТЦ,...,цоколь,с 10:00 до 21:00,3.0,1,0,NaN,0.0,103.199885,78.275862,Тестовая
5,15087.0,"Архангельская обл, г. Архангельск, ул. Воскрес...",40.535400,64.541900,2014-11-20 00:00:00,NaT,416,без сквозного прохода,60000.0,ТЦ,...,1,с 10:00 до 21:00,3.0,1,1,NaN,10.5,71.418989,67.035714,Тестовая
6,15621.0,"Архангельская обл, г. Северодвинск, ул. Ломоно...",39.785522,64.550364,2003-11-09 00:00:00,NaT,178,сквозной проход,20000.0,ТЦ,...,1,с 10:00 до 21:00,3.0,0,0,0.0,8.0,82.880454,64.034483,Обучающая
7,15775.0,"Астраханская обл, г. Астрахань, ул. Боевая, до...",48.023172,46.338313,2014-02-05 00:00:00,NaT,521,без сквозного прохода,130000.0,ТЦ,...,1,с 10:00 до 22:00,NaN,0,1,1.0,8.0,38.935806,62.827586,Обучающая
8,16102.0,"Барнаул г, Ленина пр-кт, дом № 102В, ТЦ ""Пионер""",83.764275,53.362114,2017-06-07 00:00:00,NaT,369,отдельный вход с улицы + сквозной проход,80000.0,ТЦ,...,1,с 10:00 до 22:00,0.0,0,0,0.0,1.5,27.525274,65.500000,Обучающая
9,16119.0,"Башкортостан Респ, Уфа г, Цюрупы ул, дом № 97 ...",55.958263,54.736556,2018-05-23 00:00:00,NaT,662,сквозной проход,48000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,1,1,NaN,10.0,83.191620,71.428571,Тестовая

In [189]:
df2 =  pd.read_excel(xls, 'Выручка по обучающей выборке')

In [190]:
df2.head()

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,11366.0,245709.342667,301024.685000,406199.782258,295602.853000,268179.172258,266579.009667,202667.039355,207347.022581,237393.216667,...,271084.023513,298845.267500,277776.347333,270902.919677,280106.099000,243448.836129,236709.816452,248268.778333,296637.103226,314456.870000
1,11810.0,270245.842066,297964.820199,406198.175918,232433.263996,229317.708387,251403.308057,242000.555806,260407.109247,267051.162996,...,245402.383180,273515.012143,240088.292000,196260.466452,228920.589000,204058.825161,207104.013135,203499.409840,206013.017419,218636.436000
2,15041.0,171972.976000,198141.440000,260215.741935,205316.010644,187059.870968,198590.970667,178250.637781,187094.699355,211000.005517,...,174154.623627,173190.240000,240396.837333,241494.616774,264873.765333,227461.233548,249503.230968,251805.680000,263152.960000,269913.018667
3,15775.0,409032.989736,468816.460949,582717.510920,442807.529886,371689.316054,428430.990000,365894.971255,384266.496739,385515.509997,...,431909.251500,493571.089286,408575.490000,387081.406452,418398.840000,362395.248387,393423.329032,387866.910000,421387.374194,481330.143000
4,16102.0,437693.191667,510077.198214,602107.617742,465779.798333,423448.914516,414476.575000,370944.770968,392089.754839,416797.330000,...,378429.858867,453511.489286,388849.670000,369223.219355,392389.013333,328593.246774,350885.291935,369367.358333,427575.006452,472508.001667

In [191]:
dftest = df1[df1['Выборка'] == "Тестовая"] 
dftest.head()

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
4,15041.0,"Архангельская обл, г. Архангельск, Троицкий пр...",40.526317,64.534327,2006-12-09 00:00:00,NaT,176,сквозной проход,15332.0,ТЦ,...,цоколь,с 10:00 до 21:00,3.0,1,0,NaN,0.0,103.199885,78.275862,Тестовая
5,15087.0,"Архангельская обл, г. Архангельск, ул. Воскрес...",40.535400,64.541900,2014-11-20 00:00:00,NaT,416,без сквозного прохода,60000.0,ТЦ,...,1,с 10:00 до 21:00,3.0,1,1,NaN,10.5,71.418989,67.035714,Тестовая
9,16119.0,"Башкортостан Респ, Уфа г, Цюрупы ул, дом № 97 ...",55.958263,54.736556,2018-05-23 00:00:00,NaT,662,сквозной проход,48000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,1,1,NaN,10.0,83.191620,71.428571,Тестовая
14,17983.0,"Владимирская обл, г. Владимир, ул. Тракторная,...",40.387096,56.149200,2008-06-27 00:00:00,NaT,227,без сквозного прохода,40000.0,ТЦ,...,1,с 10:00 до 22:00,2.0,1,0,NaN,4.0,55.689602,70.620690,Тестовая
21,18531.0,"Воронежская обл, г. Воронеж, бул. Победы, дом ...",39.168108,51.710399,2011-01-31 00:00:00,NaT,340,без сквозного прохода,65000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,1,1,NaN,11.0,60.622333,66.000000,Тестовая

In [192]:
# 1
dftest
i = 0
for df in dftest["Формат магазина"]:
    if df == "Street" or df == "Стрит":
        i = i + 1
print('Количество магазинов формата стрит:',i)

Количество магазинов формата стрит: 6

In [194]:
# 3
i = 0
for df in df1["Парковка"]:
    if df == "бесплатная парковка":
        i = i + 1
print('Количество магазинов c бесплатной пароквокой:', i)

Количество магазинов c бесплатной пароквокой: 156

In [170]:
#2 
#задаю ключи для магазинов формата Мини ТЦ
dfmtc = df1[df1['Формат магазина'] == "Мини ТЦ"] 
dfid = dfmtc[['id точки']]

In [171]:
#задаю df за 2016 год
df2016 = df2.loc[:, ['id точки','2016-02-01','2016-03-01','2016-04-01','2016-04-01','2016-05-01','2016-06-01','2016-07-01',
                     '2016-08-01','2016-09-01','2016-10-01', '2016-11-01',  '2016-12-01', '2017-01-01']]
df2016.head()

,id точки,2016-02-01,2016-03-01,2016-04-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,2017-01-01
0,11366.0,282914,358304,248020,248020,284417,279647.095000,230446.638710,239083.566129,266376.838000,295779.765806,295161,576854,246028
1,11810.0,331012,414184,258794,258794,254279,269684.633996,263583.246774,286720.062581,260873.774590,303189.881617,270548,519263,230499
2,15041.0,244074,285598,221318,221318,225293,203248.794483,187544.361290,208146.327742,217143.024000,205033.089032,192618,347438,173402
3,15775.0,528603,605877,446928,446928,434807,427732.530000,397032.270968,402138.232258,415707.480000,449122.529029,447314,932443,410693
4,16102.0,518930,592578,441553,441553,449033,413248.353333,377791.219355,395019.019355,408140.986667,461964.525806,452770,879289,387282

In [161]:
#соединияю ключи на двух спредшитах из экселя по выручке 16 года и по формату мини ТЦ
result = pd.merge(dfid, df2016, how='inner', on=['id точки'])

In [172]:
#избавляюсь от nan 
result1 = result.dropna()
result1

,id точки,2016-02-01,2016-03-01,2016-04-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,2017-01-01
0,18728.0,518192,612575,462815,462815,477768,451050.096000,401384.010323,383641.476129,422102.426667,422386.720000,405809,856555,343326
1,41824.0,380477,409750,335297,335297,341503,310039.590000,273176.738710,293777.854839,343191.180000,338595.300000,311295,588299,273229
2,41933.0,131703,166441,103034,103034,109411,107573.640000,98078.632258,115117.374194,104382.240000,132300.493548,102603,228666,108894
3,42067.0,778686,948357,610125,610125,648605,628196.226000,541807.499032,548504.053548,589191.498000,637511.713548,627180,1.42202e+06,-647640
4,42192.0,219536,263464,180751,180751,174378,200850.477333,172807.401290,181212.264516,182401.356000,210517.014194,161834,288096,145799
5,42219.0,183197,234129,181152,181152,166159,173533.509333,162844.341333,169838.714839,173049.632000,200700.714667,179830,296884,153981
6,42242.0,341500,413341,278217,278217,253407,291884.933333,245933.264516,220819.148387,268867.520000,274188.619355,257092,560731,231680
7,42368.0,646203,769326,567838,567838,554051,655431.680000,596274.787097,670410.405161,650349.909333,694186.157419,614323,1.15111e+06,561614
8,42383.0,315365,396360,268141,268141,244010,254807.249667,268337.013226,266149.490645,292829.203333,298976.948065,263109,478169,247750
9,42383.0,561410,669310,487761,487761,485661,456049.373670,392559.430645,430120.350000,469779.123000,492347.534516,488088,966823,449199
10,42422.0,236999,294686,186389,186389,188043,227255.242667,228655.803871,246902.518710,184107.914667,239920.185806,220087,433697,209599
11,42458.0,341838,403892,268721,268721,263977,274547.460000,272024.925806,258007.483871,274683.676667,312697.887097,289972,558148,243063
12,42496.0,373763,424794,247102,247102,268195,288479.900000,269497.774194,282031.645161,268095.833333,283937.000000,281229,537106,307094
13,42504.0,268137,331250,218518,218518,207278,222148.099667,232665.450968,236915.669677,211914.458667,254999.308667,230982,420625,217801
14,42548.0,299841,424252,269643,269643,262585,274678.625000,252030.887097,319404.879032,344379.250000,402658.104839,377205,776856,335538
15,42683.0,122103,169540,94366.6,94366.6,100354,106509.617333,106632.150968,108016.763226,103707.372333,121351.532581,112169,293145,123729
17,42743.0,0,0,0,0,0,0.000000,0.000000,313307.100000,561332.864000,710535.174194,719798,1.52787e+06,749157

In [197]:
#считаю среднее всех магазинов по 2016 году в столбец mean sales of 2016
#есть в нули в некоторых магазинах, усреднять не стал 
result1['mean sales of 2016'] = result1.iloc[:, 1:].mean(axis = 1)
result1

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id точки,2016-02-01,2016-03-01,2016-04-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,2017-01-01,mean sales of 2016
0,18728.0,518192,612575,462815,462815,477768,451050.096000,401384.010323,383641.476129,422102.426667,422386.720000,405809,856555,343326,478493.756928
1,41824.0,380477,409750,335297,335297,341503,310039.590000,273176.738710,293777.854839,343191.180000,338595.300000,311295,588299,273229,348763.646651
2,41933.0,131703,166441,103034,103034,109411,107573.640000,98078.632258,115117.374194,104382.240000,132300.493548,102603,228666,108894,123941.387267
3,42067.0,778686,948357,610125,610125,648605,628196.226000,541807.499032,548504.053548,589191.498000,637511.713548,627180,1.42202e+06,-647640,610974.109007
4,42192.0,219536,263464,180751,180751,174378,200850.477333,172807.401290,181212.264516,182401.356000,210517.014194,161834,288096,145799,197107.577423
5,42219.0,183197,234129,181152,181152,166159,173533.509333,162844.341333,169838.714839,173049.632000,200700.714667,179830,296884,153981,188957.764084
6,42242.0,341500,413341,278217,278217,253407,291884.933333,245933.264516,220819.148387,268867.520000,274188.619355,257092,560731,231680,301221.461708
7,42368.0,646203,769326,567838,567838,554051,655431.680000,596274.787097,670410.405161,650349.909333,694186.157419,614323,1.15111e+06,561614,669150.560254
8,42383.0,315365,396360,268141,268141,244010,254807.249667,268337.013226,266149.490645,292829.203333,298976.948065,263109,478169,247750,297088.023296
9,42383.0,561410,669310,487761,487761,485661,456049.373670,392559.430645,430120.350000,469779.123000,492347.534516,488088,966823,449199,525913.118402
10,42422.0,236999,294686,186389,186389,188043,227255.242667,228655.803871,246902.518710,184107.914667,239920.185806,220087,433697,209599,237132.972023
11,42458.0,341838,403892,268721,268721,263977,274547.460000,272024.925806,258007.483871,274683.676667,312697.887097,289972,558148,243063,310022.547767
12,42496.0,373763,424794,247102,247102,268195,288479.900000,269497.774194,282031.645161,268095.833333,283937.000000,281229,537106,307094,313725.174070
13,42504.0,268137,331250,218518,218518,207278,222148.099667,232665.450968,236915.669677,211914.458667,254999.308667,230982,420625,217801,251673.281940
14,42548.0,299841,424252,269643,269643,262585,274678.625000,252030.887097,319404.879032,344379.250000,402658.104839,377205,776856,335538,354516.345910
15,42683.0,122103,169540,94366.6,94366.6,100354,106509.617333,106632.150968,108016.763226,103707.372333,121351.532581,112169,293145,123729,127383.857345
17,42743.0,0,0,0,0,0,0.000000,0.000000,313307.100000,561332.864000,710535.174194,719798,1.52787e+06,749157,352461.634324

In [199]:
#считаю годовое среднее всех магазинов
res = result1['mean sales of 2016'].mean()
print("среднее всем магазинам в 2016 году:", res)

среднее всем магазинам в 2016 году: 334619.24814099516